version: '3'

services:
  container-name:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - ""
    image: 
    restart: always
    pull_policy: always
    env_file:
      - .env